* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 300px;
  height: 400px;
  background-color: #555;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 0px 25px rgba(0, 0, 0, 0.2),
    0px 0px 30px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: sans-serif;
  color: #eee;
  margin-bottom: 50px;
  font-weight: 100;
}

button {
  font-size: 2.3rem;
  border-radius: 50%;
  border: #9e9 3px solid;
  color: #bfb;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100px;
  height: 100px;
  background-color: #222;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s, transform 0.1s, opacity ease-in 0.3s;
}

button:hover {
  opacity: 1;
}

button:active {
  transform: translateY(3px);
}

.on {
  background-color: #9e9;
  color: #222;
}
